$xs:320px;
$sm:480px;
$md-p:600px;
$md-g:800px;
$lg-p:768px;
$lg-g:1024px;


.container {
	width:1000px;
	margin:0 auto;
	padding-bottom: 20px;
	padding-top: 20px;
	overflow: auto;
	@media screen and (max-width: 1024px) {
		width: 95%;
	}
}
.meio {
	width: 47%;
	text-align: justify;
	@media screen and (max-width: 768px) {
		width: 100%;
		margin-top: 20px;
	}
}
.pull-left {
	float: left;
}
.pull-right{
	float: right;
}