@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300);
.container {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  overflow: auto; }
  @media screen and (max-width: 1024px) {
    .container {
      width: 95%; } }

.meio {
  width: 47%;
  text-align: justify; }
  @media screen and (max-width: 768px) {
    .meio {
      width: 100%;
      margin-top: 20px; } }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Ubuntu", sans-serif; }

a {
  color: #FFA500;
  text-decoration: none;
  transition: all ease 0.5s; }

.menu-mobile {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: white; }
  .menu-mobile .toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 4px;
    cursor: pointer;
    background: red; }
    .menu-mobile .toggle:before {
      content: '';
      display: block;
      width: 20px;
      height: 4px;
      background-color: red;
      position: absolute;
      margin-top: -6px; }
    .menu-mobile .toggle:after {
      content: '';
      display: block;
      width: 20px;
      height: 4px;
      background-color: red;
      position: absolute;
      margin-top: 6px; }
  .menu-mobile .fechado {
    position: absolute;
    visibility: hidden;
    width: 100%;
    right: 0;
    top: -200%;
    z-index: 999;
    opacity: 0;
    background: white;
    transition: all ease 0.5s; }
    .menu-mobile .fechado li {
      display: block;
      text-align: center;
      padding: 10px;
      list-style: none;
      border-top: 1px solid purple; }
  .menu-mobile img {
    height: 3em; }
  .menu-mobile .aberto {
    visibility: visible;
    z-index: 999;
    opacity: 1;
    top: 3.3em;
    transition: all ease 0.5s; }

.menu-slim {
  width: 100%;
  height: 4em;
  top: 0;
  position: fixed;
  z-index: 999;
  background: white;
  transition: all ease-in 0.1s; }
  .menu-slim .container-menu {
    width: 1140px;
    margin: 0 auto; }
    .menu-slim .container-menu ul {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      transition: all ease-in 0.1s; }
      .menu-slim .container-menu ul li {
        display: inline-block;
        line-height: 3.8em;
        margin-left: 15px;
        padding: 0px 15px 0px 15px;
        border-bottom: 4px solid #FFA500;
        transition: all ease 0.1s; }
        .menu-slim .container-menu ul li:hover {
          border-bottom: 4px solid #853970; }
          .menu-slim .container-menu ul li:hover a {
            color: #853970;
            font-size: 24px; }
    .menu-slim .container-menu img {
      width: auto;
      float: left;
      height: 4em;
      transition: all ease-in 0.1s; }

.menu-fat {
  width: 100%;
  height: 6em;
  top: 0;
  position: fixed;
  z-index: 999;
  background: white;
  transition: all ease-in 0.1s; }
  .menu-fat .container-menu {
    width: 1140px;
    margin: 0 auto;
    margin-top: 0.5em;
    transition: all ease-in 0.1s; }
    .menu-fat .container-menu ul {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      transition: all ease-in 0.1s; }
      .menu-fat .container-menu ul li {
        display: inline-block;
        line-height: 5em;
        margin-left: 15px;
        padding: 0px 15px 0px 15px;
        border-bottom: 4px solid #FFA500;
        transition: all ease 0.5s; }
        .menu-fat .container-menu ul li:hover {
          border-bottom: 4px solid #853970; }
          .menu-fat .container-menu ul li:hover a {
            color: #853970;
            font-size: 24px; }
    .menu-fat .container-menu img {
      width: auto;
      float: left;
      height: 100%;
      transition: all ease-in 0.1s; }

.slide {
  width: 100%;
  height: 100%;
  margin-top: 6em; }
  @media screen and (max-width: 768px) {
    .slide {
      margin-top: 3.3em; } }
  .slide img {
    width: 100%; }
  .slide h1 {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    padding: 0.2em;
    font-size: 3em;
    background: rgba(0, 0, 0, 0.5);
    color: orange; }
    @media screen and (max-width: 720px) {
      .slide h1 {
        display: none; } }
  .slide .legenda {
    position: absolute;
    bottom: 0.4em;
    right: -1em;
    padding: 0.3em;
    font-size: 1.5em;
    width: 90%;
    text-align: right;
    color: white;
    background: rgba(133, 58, 112, 0.7);
    -moz-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    transform: skewX(20deg); }
    @media screen and (max-width: 720px) {
      .slide .legenda {
        display: none; } }
    .slide .legenda p {
      margin-right: 1em; }

#sobre {
  background: #863C73;
  padding: 10px;
  padding-top: 40px; }

.quem-somos {
  width: 45%;
  float: left; }
  @media screen and (max-width: 768px) {
    .quem-somos {
      width: 98%; } }
  .quem-somos h1 {
    max-width: 100%;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 1.7em; }
  .quem-somos h3 {
    color: white;
    margin-bottom: 5px;
    margin-top: 15px; }
  .quem-somos p {
    color: #ffffff;
    padding: 10px;
    text-align: justify;
    font-weight: 400; }

.servicos {
  width: 45%;
  float: right; }
  .servicos h1 {
    max-width: 100%;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 1.7em; }
  .servicos h3 {
    color: white;
    margin-bottom: 5px;
    margin-top: 15px; }
  .servicos p {
    color: #ffffff;
    text-align: justify;
    padding: 10px;
    font-weight: 400; }
  @media screen and (max-width: 768px) {
    .servicos {
      width: 98%; } }

#portfolio {
  background: #289ba3;
  padding: 10px;
  padding-top: 40px; }
  #portfolio h2 {
    color: white;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase; }
  #portfolio hr {
    width: 40%;
    margin: 0 auto;
    border: 2px solid #853a70; }
  #portfolio .portfolio-img {
    position: relative;
    width: 22%;
    margin-left: 2.3%;
    margin-top: 20px;
    float: left;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      #portfolio .portfolio-img {
        width: 46%; } }
    @media screen and (max-width: 640px) {
      #portfolio .portfolio-img {
        width: 95%; } }
    #portfolio .portfolio-img img {
      width: 100%; }
    #portfolio .portfolio-img .filtro {
      position: absolute;
      visibility: hidden;
      top: -100%;
      width: 100%;
      height: 100%;
      background: #f39c12;
      transition: all 0.5s ease; }
      #portfolio .portfolio-img .filtro img {
        position: absolute;
        top: 40%;
        left: 40%;
        width: 50px;
        height: 50px; }
    #portfolio .portfolio-img a {
      width: 100%;
      height: 100%;
      overflow: auto; }
      #portfolio .portfolio-img a:hover .filtro {
        visibility: visible;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(243, 156, 18, 0.8); }

#depoimentos {
  background: #D35400;
  padding: 10px;
  padding-top: 40px; }
  #depoimentos img {
    border-radius: 50%; }
  #depoimentos #slide-depoimentos div {
    text-align: center; }
    #depoimentos #slide-depoimentos div img {
      width: 15%; }
      @media screen and (max-width: 640px) {
        #depoimentos #slide-depoimentos div img {
          width: 30%;
          margin: 0 auto; } }
    #depoimentos #slide-depoimentos div p {
      width: 70%;
      font-size: 1.8em;
      line-height: 2em;
      color: white;
      text-align: center;
      float: right; }
      @media screen and (max-width: 640px) {
        #depoimentos #slide-depoimentos div p {
          width: 100%;
          float: none; } }

#contato {
  padding-top: 40px;
  background: #9b59b6; }
  #contato h3 {
    text-align: center;
    color: white;
    text-transform: uppercase; }
  #contato .big {
    font-size: 1.500em; }
  #contato .form-box {
    display: block;
    overflow: hidden;
    float: left;
    width: 45%;
    padding: 2% 1% 2% 2%;
    background: #8E44AD; }
    @media screen and (max-width: 768px) {
      #contato .form-box {
        width: 98%;
        padding: 1% 0% 1% 1%;
        margin-bottom: 20px; } }
    #contato .form-box form {
      position: relative;
      display: block;
      overflow: hidden;
      height: auto;
      width: 100%;
      float: left;
      border: none; }
      #contato .form-box form label {
        text-align: right;
        color: white;
        font-weight: 700; }
      #contato .form-box form input {
        height: 2.3em;
        width: 98%;
        resize: none;
        border: 0px;
        margin: 10px 0 10px 0; }
        #contato .form-box form input:focus {
          border: 2px solid #8E44AD;
          box-shadow: none; }
      #contato .form-box form input[type=submit] {
        background: #e67e22;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        transition: all ease-in 0.5s; }
        #contato .form-box form input[type=submit]:hover {
          background: #f1c40f;
          color: #000000; }
      #contato .form-box form textarea {
        height: 10em;
        width: 98%;
        resize: none;
        border: 0px;
        margin: 10px 0 10px 0; }
        #contato .form-box form textarea:focus {
          border: 2px solid #8E44AD;
          box-shadow: none; }
  #contato .informacoes-contato {
    display: block;
    overflow: hidden;
    position: relative;
    width: 45%;
    padding: 2% 1% 2% 2%;
    background: #8E44AD;
    float: right;
    border: none; }
    @media screen and (max-width: 768px) {
      #contato .informacoes-contato {
        width: 98%;
        float: none;
        padding: 1% 0% 1% 1%; } }
    #contato .informacoes-contato .sub-titulo-info {
      text-align: left;
      margin: 12px 0 12px 0; }
    #contato .informacoes-contato p {
      margin-left: 12px;
      color: #FFFFFF;
      text-transform: uppercase; }
    #contato .informacoes-contato img {
      width: 22%;
      margin-left: 2.3%; }
      @media screen and (max-width: 768px) {
        #contato .informacoes-contato img {
          margin-left: 2.9%; } }
      @media screen and (max-width: 640px) {
        #contato .informacoes-contato img {
          margin-left: 2.5%; } }
    #contato .informacoes-contato ul li {
      display: inline; }
      #contato .informacoes-contato ul li:first-child img {
        margin: 0; }

/*# sourceMappingURL=style.css.map */
